# Arquivos de sistema
.DS_Store
Thumbs.db
*~
codigo_completo.txt

# Se futuramente você for usar node, já deixa engatilhado
node_modules/
.env
codigo_para_ia.txt
sanko.code-workspace
# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars